*,
html,
body,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.clear {
  clear: both;
}

img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  border: 0px;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
  transition: all 0.4s ease-in-out;
}

a:focus,
a:active,
a:visited,
a:hover {
  text-decoration: none;
  outline: none;
}

body main header a {
  padding-bottom: 26px;
}

body main header a:hover {
  color: #fff;
  border-bottom: 2px solid #fff;
  text-decoration: none;
}

body main header .drop-down a:hover {
  color: black;
  border: 0;
}

.cursor-pointer {
  cursor: pointer;
}

button {
  outline: none !important;
}

.brighten img {
  filter: brightness(50%);
  transition: all 1s ease;
}

.brighten img:hover {
  filter: brightness(100%);
}

.container_ui {
  padding: 2.5rem 7rem;
}

main header.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #000;
  color: #fff;
  padding: 1rem 7rem;
}

main header nav ul {
  display: flex;
  gap: 2.5rem;
}

main header .logo {
  width: 8rem;
  cursor: pointer;
}

main header .logo img {
  filter: brightness(9.5);
}

main header .nav-icon {
  display: flex;
  gap: 2.5rem;
  font-size: 20px;
}

main header .nav-icon li:last-child {
  position: relative;
}

main header .nav-icon .count-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  position: absolute;
  top: -0.25rem;
  right: -0.5rem;
  background: red;
  border-radius: 100%;
  font-size: 8px;
  color: #fff;
}

section .heading {
  padding: 2.5rem 0;
  text-transform: uppercase;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: bold;
}

section.container_ui .type-divider {
  display: flex;
  gap: 2.5rem;
}

section.container_ui .type-divider .type-card {
  position: relative;
  height: auto;
  display: flex;
  padding: 1rem;
  border: 1px solid #000;
  flex: 1 1 0%;
  cursor: pointer;
}

section.container_ui .type-divider .type-card img {
  display: block;
  object-fit: cover;
  height: 500px;
  width: 100%;
}

section.container_ui .type-divider .type-card .type-content {
  position: absolute;
  bottom: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: bold;
  color: #fff;
  font-size: 1.8rem;
  line-height: 2.5rem;
}

section.container_ui .shop-item-gap {
  display: flex;
  gap: 1.25rem;
}

section.container_ui .card {
  position: relative;
  cursor: pointer;
  flex: 1 1 0%;
}

section.container_ui .card img {
  height: 18.75rem;
  flex: 1 1 0%;
  position: relative;
}

section.container_ui .content-center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

section.container_ui .product-gap {
  gap: 5rem;
  display: flex;
  flex-direction: column;
}

section.container_ui .card .card-content {
  background: #fff;
  position: absolute;
  color: #000;
  bottom: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: .5rem;
  text-transform: uppercase;
}

section.container_ui .shop-item-gap .card .add-btn {
  font-size: 1.5rem;
  line-height: 2rem;
  text-transform: uppercase;
  color: white;
  background: #000;
  margin-top: 1rem;
  padding: .5rem;
  width: 100%;
}

section.video-section {
  padding: 2.5rem 0;
}

section.video-section video {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

section.story-section {
  padding: 2.5rem 0;
}

section.story-section .story-item,
.headline-content {
  display: flex;
  background: #000;
  color: #fff;
}

.highlight-content {
  display: flex;
  flex-direction: column;
}

section.story-section .story-content,
.headline-content .story-content {
  flex: 1 1 0%;
  padding: 11rem;
}

.top-gap-4 {
  margin-top: 1rem;
}

.top-gap-6 {
  margin-top: 1.5rem;
}

.top-gap-1 {
  margin-top: .25rem;
}

.medium-text-size {
  font-size: 1.2rem;
  line-height: 1.7rem;
}

.shop-now-btn {
  text-transform: uppercase;
  padding: .5rem 1.5rem;
  border: 2px solid #fff;
}

.shop-now-btn:hover {
  color: #000;
  background: #fff;
}

.offline-map {
  width: 100%;
  height: 500px;
  padding-top: 4rem;
}

.offline-map img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-content {
  text-transform: uppercase;
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.slider-position {
  position: absolute;
  top:35% ;
  left:7%;
}

.slider-arrow-right {
  position: absolute;
  right: 1.5rem;
  bottom: 1rem;
}

.slider-arrow-left {
  position: absolute;
  right: 5rem;
  bottom: 1rem;
}

section.story-section .story-content .content,
.headline-content .story-content .content {
  text-transform: uppercase;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: bold;
  letter-spacing: .02rem;
  color: #fff;
}

section.video-section .preview-video {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-top: 1.5rem;
  padding-top: 24rem;
}

.footer-section {
  padding-top: 2.5rem;
}

.footer-section .footer-item {
  display: flex;
  color: white;
  background: #000;
  padding: 2rem 7rem;
}

.footer-section .footer-item .footer-logo {
  flex: 1 1 0%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.footer-section .footer-item .footer-logo .logo {
  width: 13rem;
}

.h-100 {
  height: 100%;
}

.sub-image {
  position: absolute;
  height: 13rem;
  width: 13rem;
  right: -5rem;
  bottom: -2.5rem;
}

.footer-section .footer-item .footer-logo .logo img {
  filter: brightness(9.5);
}

.footer-section .footer-item .footer-nav,
.footer-section .footer-item .footer-sub,
.footer-section .footer-item .footer-nav .footer-nav-list nav,
section.story-section .story-image,
.image-content {
  flex: 1 1 0%;
  position: relative;
}

.footer-section .footer-item .footer-nav .footer-nav-list,
.footer-section .footer-item .footer-sub .footer-input {
  display: flex;
  gap: 1.5rem;
}


.footer-section .footer-item .footer-nav .footer-nav-list nav h1,
.footer-section .footer-item .footer-sub h1 {
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-bottom: .75rem;
  text-wrap: nowrap;
}

.footer-section .footer-item .footer-nav .footer-nav-list nav ul,
.footer-section {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.footer-section .footer-item .footer-sub .footer-input input,
.footer-section .footer-item .footer-sub .footer-input button {
  border-bottom: 2px solid white;
  width: 100%;
  display: block;
  background: transparent;
  color: white;
  line-height: 1.25;
  padding: .75rem 1.5rem;
  appearance: none;
}

.footer-section .footer-item .footer-sub .footer-input button {
  width: auto;
  border: 2px solid white;
}

.footer-section .footer-item .footer-sub .footer-input button:hover {
  opacity: .75;
}

.footer-section .footer-item .footer-sub .footer-input input:focus {
  outline: none;
}

.birthstone-list {
  display: flex;
  gap: .75rem;
  padding: 4rem 7rem;
}

.card .bg-img {
  background: url("https://niscka.com/cdn/shop/products/DSC09913.jpg?v=1675240705");
  background-size: cover;
  height: 300px;
}

.card .bg-img:hover {
  background: url("https://niscka.com/cdn/shop/products/DSC01850.jpg?v=1675240705");
  background-size: cover;
}

.card .bg-img-1 {
  background: url("https://www.pdpaola.com/cdn/shop/files/5-AN01-933-U_alt3_2c4689d2-9d7f-4917-b1b7-87fb9cf70e6d_500x.jpg?v=1690193346");
  background-size: cover;
  height: 300px;
}

.card .bg-img-1:hover {
  background: url("https://www.pdpaola.com/cdn/shop/files/3-AN01-933_beauty1_a8f89a06-b4c7-4677-81fb-e50046e63fa4_500x.jpg?v=1690193339");
  background-size: cover;
}

.card .bg-img-2 {
  background: url("https://everstylish.com/pub/media/catalog/product/cache/f1831bc42043919087a4ff2769315671/j/e/jew1103213-t.jpg");
  background-size: cover;
  height: 300px;
}

.card .bg-img-2:hover {
  background: url("https://everstylish.com/pub/media/catalog/product/cache/f1831bc42043919087a4ff2769315671/j/e/jew1103213_zoom.jpg");
  background-size: cover;
}

.card .bg-img-3 {
  background: url("https://blingvine.com/cdn/shop/products/zehra-pearl-earrings-earrings-blingvine-374533_1000x.jpg?v=1655114900");
  background-size: cover;
  height: 300px;
}

.card .bg-img-3:hover {
  background: url("https://blingvine.com/cdn/shop/products/zehra-pearl-earrings-earrings-blingvine-439063_1000x.jpg?v=1655114979");
  background-size: cover;
}

/* Collection section */

.card .bg-img-collection {
  background: url("https://m.media-amazon.com/images/I/715XHk+ipyL._SY575_.jpg");
  background-size: cover;
  height: 300px;
}

.card .bg-img-collection:hover {
  background: url("https://m.media-amazon.com/images/I/71U46H7KRuL._SY625_.jpg");
  background-size: cover;
}

.card .bg-img-collection-1 {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw10d1d882/images/hi-res/51W2SAVEI1AP3_1.jpg");
  background-size: cover;
  height: 300px;
}

.card .bg-img-collection-1:hover {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw10d1d882/images/hi-res/51W2SAVEI1AP3_2.jpg");
  background-size: cover;
}

.card .bg-img-collection-2 {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw0cf2908b/images/hi-res/51W2BHVHA2A00_1.jpg");
  background-size: cover;
  height: 300px;
}

.card .bg-img-collection-2:hover {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw0cf2908b/images/hi-res/51W2BHVHA2A00_2.jpg");
  background-size: cover;
}

.card .bg-img-collection-3 {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw2479df05/images/hi-res/5120182HCABBP3_2.jpg");
  background-size: cover;
  height: 300px;
}

.card .bg-img-collection-3:hover {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw2479df05/images/hi-res/5120182HCABBP3_1.jpg");
  background-size: cover;
}

.card .bg-img-collection-4 {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw1977ec82/images/hi-res/50D2J1FESAA02_2.jpg");
  background-size: cover;
  height: 300px;
}

.card .bg-img-collection-4:hover {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw1977ec82/images/hi-res/50D2J1FESAA02_1.jpg");
  background-size: cover;
}

.card .bg-img-collection-5 {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw2ca060a6/images/hi-res/5111151DHAAA00_2.jpg");
  background-size: cover;
  height: 300px;
}

.card .bg-img-collection-5:hover {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw2ca060a6/images/hi-res/5111151DHAAA00_1.jpg");
  background-size: cover;
}

.card .bg-img-collection-6 {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw21cd6086/images/hi-res/740841FSAAA00_2.jpg");
  background-size: cover;
  height: 300px;
}

.card .bg-img-collection-6:hover {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw21cd6086/images/hi-res/740841FSAAA00_1.jpg");
  background-size: cover;
}

.card .bg-img-collection-7 {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw3e2f015c/images/hi-res/50D3B3YPJAA32_2.jpg");
  background-size: cover;
  height: 300px;
}

.card .bg-img-collection-7:hover {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw3e2f015c/images/hi-res/50D3B3YPJAA32_1.jpg");
  background-size: cover;
}

/* birthstone section */

.card .bg-img-birthstone {
  background: url("https://bettyandbiddy.com/cdn/shop/products/image_ac05976a-d53d-4a58-962d-a4f850d88c6d.jpg?v=1681926502&width=1946");
  background-size: cover;
  height: 300px;
}

.card .bg-img-birthstone:hover {
  background: url("https://bettyandbiddy.com/cdn/shop/products/image_fe0481c6-8ddd-4604-a85a-f7d5fcf82de1.png?v=1681926493&width=1946");
  background-size: cover;
}

.card .bg-img-birthstone-1 {
  background: url("https://uk.pandora.net/dw/image/v2/BFCR_PRD/on/demandware.static/-/Sites-pandora-master-catalog/default/dw6729e387/productimages/Gift%20Sets/B8BSE01_Birthstone-opendant-earrings-Giftset-JAN.jpg?sw=900&sh=900&sm=fit&sfrm=png&bgcolor=F5F5F5");
  background-size: cover;
  height: 300px;
}

.card .bg-img-birthstone-1:hover {
  background: url("https://uk.pandora.net/dw/image/v2/BFCR_PRD/on/demandware.static/-/Sites-pandora-master-catalog/default/dw1791c3ae/productimages/singlepackshot/292334C06_RGB.jpg?sw=900&sh=900&sm=fit&sfrm=png&bgcolor=F5F5F5");
  background-size: cover;
}

.card .bg-img-birthstone-2 {
  background: url("https://www.orelia.co.uk/cdn/shop/products/27339_1000x1000.jpg?v=1684848054");
  background-size: cover;
  height: 300px;
}

.card .bg-img-birthstone-2:hover {
  background: url("https://www.orelia.co.uk/cdn/shop/products/Orelia_6_05_04_22615251.jpg?v=1651234192&width=800");
  background-size: cover;
}

.card .bg-img-birthstone-3 {
  background: url("https://www.orelia.co.uk/cdn/shop/products/27315_1000x1000.jpg?v=1651233552");
  background-size: cover;
  height: 300px;
}

.card .bg-img-birthstone-3:hover {
  background: url("https://www.orelia.co.uk/cdn/shop/products/Orelia_6_05_04_22615321.jpg?v=1651233585&width=800");
  background-size: cover;
}

.card .bg-img-birthstone-4 {
  background: url("https://www.orelia.co.uk/cdn/shop/products/25019white_1000x1000.jpg?v=1684836887");
  background-size: cover;
  height: 300px;
}

.card .bg-img-birthstone-4:hover {
  background: url("https://www.orelia.co.uk/cdn/shop/products/IMG_5504.JPG?v=1671457828&width=800");
  background-size: cover;
}

.card .bg-img-birthstone-5 {
  background: url("https://www.orelia.co.uk/cdn/shop/products/pearl_1000x1000.jpg?v=1695826918");
  background-size: cover;
  height: 300px;
}

.card .bg-img-birthstone-5:hover {
  background: url("https://www.orelia.co.uk/cdn/shop/files/OreliaSS24DAY21997-3-2.jpg?v=1705317051&width=800");
  background-size: cover;
}

.card .bg-img-birthstone-6 {
  background: url("https://www.orelia.co.uk/cdn/shop/files/ORE29035Crop_1000x1000.jpg?v=1694010188");
  background-size: cover;
  height: 300px;
}

.card .bg-img-birthstone-6:hover {
  background: url("https://www.orelia.co.uk/cdn/shop/files/ORELIASIRENE9150.jpg?v=1694010188&width=800https://www.orelia.co.uk/cdn/shop/products/27324_1000x1000.jpg?v=1651233916");
  background-size: cover;
}

.card .bg-img-birthstone-7 {
  background: url("https://www.orelia.co.uk/cdn/shop/products/27324_1000x1000.jpg?v=1651233916");
  background-size: cover;
  height: 300px;
}

.card .bg-img-birthstone-7:hover {
  background: url("https://www.orelia.co.uk/cdn/shop/products/Orelia_6_05_04_22616061.jpg?v=1651234015&width=800");
  background-size: cover;
}

/* newin section */
.card .bg-img-newin {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw68c524bf/images/hi-res/51G3I1CAAAA00_2.jpg");
  background-size: cover;
  height: 300px;
}

.card .bg-img-newin:hover {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw68c524bf/images/hi-res/51G3I1CAAAA00_1.jpg");
  background-size: cover;
}

.card .bg-img-newin-1 {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw0de2ed3c/images/hi-res/51D2D1FRHAACZ_2.jpg");
  background-size: cover;
  height: 300px;
}

.card .bg-img-newin-1:hover {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw0de2ed3c/images/hi-res/51D2D1FRHAACZ_1.jpg");
  background-size: cover;
}

.card .bg-img-newin-2 {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw445e1c83/images/hi-res/51T815FKD1A00_2.jpg");
  background-size: cover;
  height: 300px;
}

.card .bg-img-newin-2:hover {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw445e1c83/images/hi-res/51T815FKD1A00_1.jpg");
  background-size: cover;
}

.card .bg-img-newin-3 {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dwcb10b5ef/images/hi-res/513017CUVAA00_2.jpg");
  background-size: cover;
  height: 300px;
}

.card .bg-img-newin-3:hover {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dwcb10b5ef/images/hi-res/513017CUVAA00_1.jpg");
  background-size: cover;
}

.card .bg-img-newin-4 {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw42d3843a/images/hi-res/50D5PTFSGAA10_2.jpg");
  background-size: cover;
  height: 300px;
}

.card .bg-img-newin-4:hover {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw42d3843a/images/hi-res/50D5PTFSGAA10_1.jpg");
  background-size: cover;
}

.card .bg-img-newin-5 {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw6e92b48f/images/hi-res/507003FCJAA02_2.jpg");
  background-size: cover;
  height: 300px;
}

.card .bg-img-newin-5:hover {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw6e92b48f/images/hi-res/507003FCJAA02_1.jpg");
  background-size: cover;
}

.card .bg-img-newin-6 {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dwd458e96b/images/hi-res/510722VBA2A00_2.jpg");
  background-size: cover;
  height: 300px;
}

.card .bg-img-newin-6:hover {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dwd458e96b/images/hi-res/510722VBA2A00_1.jpg");
  background-size: cover;
}

.card .bg-img-newin-7 {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw9c3a124f/images/hi-res/501720HCOAAA00_2.jpg");
  background-size: cover;
  height: 300px;
}

.card .bg-img-newin-7:hover {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw9c3a124f/images/hi-res/501720HCOAAA00_1.jpg");
  background-size: cover;
}

/* ring section */
.card .bg-img-ring {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw962006ad/images/hi-res/50G3I1FBUAA09_2.jpg");
  background-size: cover;
  height: 300px;
}

.card .bg-img-ring:hover {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw962006ad/images/hi-res/50G3I1FBUAA09_1.jpg");
  background-size: cover;
}

.card .bg-img-ring-1 {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw3eb2c074/images/hi-res/51T340FAMAA00_2.jpg");
  background-size: cover;
  height: 300px;
}

.card .bg-img-ring-1:hover {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw3eb2c074/images/hi-res/51T340FAMAA00_1.jpg");
  background-size: cover;
}

.card .bg-img-ring-2 {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dwfe0f0c41/images/hi-res/51E2J1FBMAA00_2.jpg");
  background-size: cover;
  height: 300px;
}

.card .bg-img-ring-2:hover {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dwfe0f0c41/images/hi-res/51E2J1FBMAA00_1.jpg");
  background-size: cover;
}

.card .bg-img-ring-3 {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw25380b27/images/hi-res/50D2PTFHTAA02_2.jpg");
  background-size: cover;
  height: 300px;
}

.card .bg-img-ring-3:hover {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw25380b27/images/hi-res/50D2PTFHTAA02_1.jpg");
  background-size: cover;
}

.card .bg-img-ring-4 {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw23770899/images/hi-res/51D3A1FAYAA00_2.jpg");
  background-size: cover;
  height: 300px;
}

.card .bg-img-ring-4:hover {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw23770899/images/hi-res/51D3A1FAYAA00_1.jpg");
  background-size: cover;
}

.card .bg-img-ring-5 {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw0d223eef/images/hi-res/50D3B4FMIAA02_2.jpg");
  background-size: cover;
  height: 300px;
}

.card .bg-img-ring-5:hover {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw0d223eef/images/hi-res/50D3B4FMIAA02_1.jpg");
  background-size: cover;
}

.card .bg-img-ring-6 {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dwa9dc1d7b/images/hi-res/502990FLDAZ69_2.jpg");
  background-size: cover;
  height: 300px;
}

.card .bg-img-ring-6:hover {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dwa9dc1d7b/images/hi-res/502990FLDAZ69_1.jpg");
  background-size: cover;
}

.card .bg-img-ring-7 {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw921fbf17/images/hi-res/502617FEOAB02_2.jpg");
  background-size: cover;
  height: 300px;
}

.card .bg-img-ring-7:hover {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw921fbf17/images/hi-res/502617FEOAB02_1.jpg");
  background-size: cover;
}

/* necklace section */
.card .bg-img-necklace {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dwe2f37d9f/images/hi-res/50D3D1NXDAA21_2.jpg");
  background-size: cover;
  height: 300px;
}

.card .bg-img-necklace:hover {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dwe2f37d9f/images/hi-res/50D3D1NXDAA21_1.jpg");
  background-size: cover;
}

.card .bg-img-necklace-1 {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw2e58efc2/images/hi-res/50D2P2NCWAA32_2.jpg");
  background-size: cover;
  height: 300px;
}

.card .bg-img-necklace-1:hover {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw2e58efc2/images/hi-res/50D2P2NCWAA32_1.jpg");
  background-size: cover;
}

.card .bg-img-necklace-2 {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw3a6197c0/images/hi-res/50D3B2NTYAA02_2.jpg");
  background-size: cover;
  height: 300px;
}

.card .bg-img-necklace-2:hover {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw3a6197c0/images/hi-res/50D3B2NTYAA02_1.jpg");
  background-size: cover;
}

.card .bg-img-necklace-3 {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw41342191/images/hi-res/50D4J12FOAGA02_1.jpg");
  background-size: cover;
  height: 300px;
}

.card .bg-img-necklace-3:hover {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw41342191/images/hi-res/50D4J12FOAGA02_2.jpg");
  background-size: cover;
}

.card .bg-img-necklace-4 {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dwd92b40e3/images/hi-res/50D3I1NENAA09_2.jpg");
  background-size: cover;
  height: 300px;
}

.card .bg-img-necklace-4:hover {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dwd92b40e3/images/hi-res/50D3I1NENAA09_1.jpg");
  background-size: cover;
}

.card .bg-img-necklace-5 {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw2fc57abb/images/hi-res/50D3I1NEOAA09_2.jpg");
  background-size: cover;
  height: 300px;
}

.card .bg-img-necklace-5:hover {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw2fc57abb/images/hi-res/50D3I1NEOAA09_1.jpg");
  background-size: cover;
}

.card .bg-img-necklace-6 {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw879ddcc8/images/hi-res/50D2FFNGMAA32_2.jpg");
  background-size: cover;
  height: 300px;
}

.card .bg-img-necklace-6:hover {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw879ddcc8/images/hi-res/50D2FFNGMAA32_1.jpg");
  background-size: cover;
}

.card .bg-img-necklace-7 {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw3941609a/images/hi-res/50D3I1NRFAA09_2.jpg");
  background-size: cover;
  height: 300px;
}

.card .bg-img-necklace-7:hover {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw3941609a/images/hi-res/50D3I1NRFAA09_1.jpg");
  background-size: cover;
}

/* earing section */
.card .bg-img-earring {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw26384237/images/hi-res/50D3PLSPGAAA10_2.jpg");
  background-size: cover;
  height: 300px;
}

.card .bg-img-earring:hover {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw26384237/images/hi-res/50D3PLSPGAAA10_1.jpg");
  background-size: cover;
}

.card .bg-img-earring-1 {
  background: url("https://uk.pandora.net/dw/image/v2/BFCR_PRD/on/demandware.static/-/Sites-pandora-master-catalog/default/dw6729e387/productimages/Gift%20Sets/B8BSE01_Birthstone-opendant-earrings-Giftset-JAN.jpg?sw=900&sh=900&sm=fit&sfrm=png&bgcolor=F5F5F5");
  background-size: cover;
  height: 300px;
}

.card .bg-img-earring-1:hover {
  background: url("https://uk.pandora.net/dw/image/v2/BFCR_PRD/on/demandware.static/-/Sites-pandora-master-catalog/default/dw1791c3ae/productimages/singlepackshot/292334C06_RGB.jpg?sw=900&sh=900&sm=fit&sfrm=png&bgcolor=F5F5F5");
  background-size: cover;
}

.card .bg-img-earring-2 {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw09685e23/images/hi-res/50D2I2SOMADA02_2.jpg");
  background-size: cover;
  height: 300px;
}

.card .bg-img-earring-2:hover {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw09685e23/images/hi-res/50D2I2SOMADA02_1.jpg");
  background-size: cover;
}

.card .bg-img-earring-3 {
  background: url("https://www.orelia.co.uk/cdn/shop/products/27315_1000x1000.jpg?v=1651233552");
  background-size: cover;
  height: 300px;
}

.card .bg-img-earring-3:hover {
  background: url("https://www.orelia.co.uk/cdn/shop/products/Orelia_6_05_04_22615321.jpg?v=1651233585&width=800");
  background-size: cover;
}

.card .bg-img-earring-4 {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw8256a8da/images/hi-res/50D2I2SIOADA09_2.jpg");
  background-size: cover;
  height: 300px;
}

.card .bg-img-earring-4:hover {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw8256a8da/images/hi-res/50D2I2SIOADA09_1.jpg");
  background-size: cover;
}

.card .bg-img-earring-5 {
  background: url("https://www.orelia.co.uk/cdn/shop/products/pearl_1000x1000.jpg?v=1695826918");
  background-size: cover;
  height: 300px;
}

.card .bg-img-earring-5:hover {
  background: url("https://www.orelia.co.uk/cdn/shop/files/OreliaSS24DAY21997-3-2.jpg?v=1705317051&width=800");
  background-size: cover;
}

.card .bg-img-earring-6 {
  background: url("https://www.orelia.co.uk/cdn/shop/files/ORE29035Crop_1000x1000.jpg?v=1694010188");
  background-size: cover;
  height: 300px;
}

.card .bg-img-earring-6:hover {
  background: url("https://www.orelia.co.uk/cdn/shop/files/ORELIASIRENE9150.jpg?v=1694010188&width=800https://www.orelia.co.uk/cdn/shop/products/27324_1000x1000.jpg?v=1651233916");
  background-size: cover;
}

.card .bg-img-earring-7 {
  background: url("https://www.orelia.co.uk/cdn/shop/products/27324_1000x1000.jpg?v=1651233916");
  background-size: cover;
  height: 300px;
}

.card .bg-img-earring-7:hover {
  background: url("https://www.orelia.co.uk/cdn/shop/products/Orelia_6_05_04_22616061.jpg?v=1651234015&width=800");
  background-size: cover;
}

/* bracelet section */
.card .bg-img-bracelet {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw6b95e57d/images/hi-res/51F1D1BQLAACZ_2.jpg");
  background-size: cover;
  height: 300px;
}

.card .bg-img-bracelet:hover {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw6b95e57d/images/hi-res/51F1D1BQLAACZ_1.jpg");
  background-size: cover;
}

.card .bg-img-bracelet-1 {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw8b6a880c/images/hi-res/50D3B2BUMAA02_2.jpg");
  background-size: cover;
  height: 300px;
}

.card .bg-img-bracelet-1:hover {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw8b6a880c/images/hi-res/50D3B2BUMAA02_1.jpg");
  background-size: cover;
}

.card .bg-img-bracelet-2 {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dwc86a64e9/images/hi-res/50D3FFBBCAA10_2.jpg");
  background-size: cover;
  height: 300px;
}

.card .bg-img-bracelet-2:hover {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dwc86a64e9/images/hi-res/50D3FFBBCAA10_1.jpg");
  background-size: cover;
}

.card .bg-img-bracelet-3 {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw09685bbf/images/hi-res/51F2LMBIIAA00_2.jpg");
  background-size: cover;
  height: 300px;
}

.card .bg-img-bracelet-3:hover {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw09685bbf/images/hi-res/51F2LMBIIAA00_1.jpg");
  background-size: cover;
}

.card .bg-img-bracelet-4 {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dwea593742/images/hi-res/51F1D1BQVAA00_2.jpg");
  background-size: cover;
  height: 300px;
}

.card .bg-img-bracelet-4:hover {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dwea593742/images/hi-res/51F1D1BQVAA00_1.jpg");
  background-size: cover;
}

.card .bg-img-bracelet-5 {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dwa15fb054/images/hi-res/50F2ZDBAIAA00_2.jpg");
  background-size: cover;
  height: 300px;
}

.card .bg-img-bracelet-5:hover {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dwa15fb054/images/hi-res/50F2ZDBAIAA00_1.jpg");
  background-size: cover;
}

.card .bg-img-bracelet-6 {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw1eaaad51/images/hi-res/50D3B3BKRAA02_2.jpg");
  background-size: cover;
  height: 300px;
}

.card .bg-img-bracelet-6:hover {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw1eaaad51/images/hi-res/50D3B3BKRAA02_1.jpg");
  background-size: cover;
}

.card .bg-img-bracelet-7 {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw09bdef3a/images/hi-res/51D3B1BGFAA00_2.jpg");
  background-size: cover;
  height: 300px;
}

.card .bg-img-bracelet-7:hover {
  background: url("https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw09bdef3a/images/hi-res/51D3B1BGFAA00_1.jpg");
  background-size: cover;
}

footer a:hover {
  color: #fff;
  text-decoration: none;
}